<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CRUD PERSON
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CRUD PERSON</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="addUserAction()">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="removeUserAction()">
        <ion-icon name="person-remove-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
<ng-container *ngIf="users$ | async as users">
  <div class="cards">
    <ion-card *ngFor="let user of users">
      <ion-card-header>
        {{ user.name }}
      </ion-card-header>
      
      <ion-item>
        <ion-card-content>
          <p>ID: {{ user.id }}</p>
          <p>Birth Date: {{ user.birthDate | date: 'short' }}</p>
          <p>Job: {{ user.job }}</p>
          <p>Tel: {{ user.tel }}</p>
          <p>Active: {{ user.active === 1 ? 'Yes' : 'No' }}</p>
        </ion-card-content>
        <ion-thumbnail *ngIf="removeUserFlag()" slot="end">
          <ion-checkbox [value]="user.id" (ionChange)="checkBoxChange($event)"></ion-checkbox>
        </ion-thumbnail>
      </ion-item>
        
    </ion-card>
  </div>
</ng-container>
  
</ion-content>
<ion-fab *ngIf="removeUserFlag()" slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="success" (click)="removeUsers()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>